.sidebar {
    width: 15vw; 
    z-index: 1; /* Stay on top */
    background-color: #00000018;
    overflow-x: hidden; /* Disable horizontal scroll */
    flex-shrink: 0;
    background-image: url('../../textures/grey_gradient.jpg');
}

.tablist {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.tablist-item {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 
        1px 0 0 0 #fe2323, 
        0 1px 0 0 #fe2323, 
        0 1px 0 0 #fe2323 inset;
} 

.tablist-item.active {
    background-color: #282c34;
}


.tablist-item:hover {
    background-color: #898b91;
}

.tablist-text {
    color: #c9f3ff;
    text-decoration: none;
}

.tabContent {
    display: none;
}

.tabContent.active {
    display: block;
}