.blog-container p 
{
    font-size: 1.1em;
}

.blog-container img {
    display: block;
    margin: auto;
    width: 90%;
    height: 100%;
}

.blog-container h1 {
    font-size: 32px;
    padding: 0px;
    border: none;
    font-weight: 700;
    margin: 32px 0;
    line-height: 1.2;
}

.blog-container h2 {
    font-size: 24px;
    padding: 0px 0;
    border: none;
    font-weight: 700;
    margin: 24px 0;
    line-height: 1.7;
}

.blog-container h3 {
    font-size: 18px;
    margin: 18px 0;
    padding: 0px 0;
    line-height: 1.7;
    border: none;
}


.blog-container a {
    color: #5cc7ff;
}

.blog-container a:visited {
    color: #308ebf
}

.blog-container a:hover {
    color: #5cb4e1
}

.blog-container a:hover {
    text-decoration: none;
}

.blog-container strong {
    font-weight: 700;
}

.blog-container ol,
.blog-container ul {
    line-height: 28px;
    font-size: 1.1em;
}

.blog-container li {
    margin-bottom: 8px;
    line-height: 1.7;
}

.blog-container hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.blog-container pre {
    display: block;
    background-color: #eeeeee;
    padding: 20px;
    font-size: 14px;
    line-height: 28px;
    border-radius: 0;
    overflow-x: auto;
    word-break: break-word;
  }

.blog-container code {
    background-color: #eeeeee;
    color: black;
    border-radius: 0;
    padding: 3px 0;
    margin: 0;
    font-size: 14px;
    overflow-x: auto;
    word-break: normal;
}

.blog-container p > code {
    margin-left: -35px;
    padding: 10px;
}

.blog-container code:after,
.blog-container code:before {
    letter-spacing: 0;
}

.blog-container blockquote {
    position: relative;
    margin: 16px 0;
    padding: 5px 8px 5px 30px;
    background: none repeat scroll 0 0 #6680994f;
    border: none;
    color: #fff;
    border-left: 10px solid #d6dbdf;
}

/* .blog-container img,
.blog-container video {
    max-width: 100%;
} */

.blog-container table {
    font-size: 14px;
    line-height: 1.7;
    max-width: 100%;
    overflow: auto;
    border: 1px solid #f6f6f6;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
}

.blog-container table td,
.blog-container table th {
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}
  
.blog-container table tr {
    border: 1px solid #efefef;
}
 
.blog-container table tr:nth-child(2n) {
    background-color: transparent;
}

.blog-container table th {
    text-align: center;
    font-weight: 700;
    border: 2px solid #a7a7a7;
    padding: 10px 6px;
    background-color: #737373;
    word-break: break-word;
}

.blog-container table td {
    border: 2px solid #737373;
    text-align: left;
    padding: 10px 15px;
    word-break: break-word;
    min-width: 60px;
}

.blog-container 
{
    margin: auto;
    padding-bottom: 5vh;
    color: #333;
    width: 90%
}

@media screen and (min-width: 1200px) {
    .blog-container {
        width: 60%;
    }
}

#blog-title
{
    margin-bottom: 0px;
}

#blog-divider
{
    margin-top: 10px;
    margin-bottom: 0px;
}

.blog-meta 
{
    font-style: italic;
}

.comment-container 
{
    background-color: #d4d3ff0a;
    padding-top: 10px;
    padding-left: 15px;
}

/* Target the top level comments, only */
.comment-container>div {
    margin: 10px 0px 15px 0px;
}

