body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Styles used to hide scroll bar. See blog.hubspot.com/website/hide-scrollbar-css */
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  height: 100%;
}

#root {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}
